<h1> Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table class="table">
	<tr>
		<th>No</th>
		<th>Title</th>
		<th>Text</th>
		<th>Action</th>
		<th colspan="3"></th>
	</tr>

	<% @articles.each_with_index do |article, i| %>
	<tr>
		<td><%= (i+1) %></td>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %> |
			<%= link_to 'Edit', edit_article_path(article) %> |	<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
