<h1>Hello, Rails!</h1>

<%= link_to 'My Blog', controller: 'articles' %>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}